<!DOCTYPE html>

<!--
# ExtraTerrestrials (Edwin Zheng, Tina Nguyen)
# SoftDev
# K20 - Throw Some Forking STUYLE On It
# 2021-11-29
 -->


<html>
    <head>
        <title> Add to Existing Story </title>
        <style>
        body {background: url("https://cdn.pixabay.com/photo/2017/09/30/19/29/coffee-beans-2803288_960_720.jpg") #402406}
        .border {float: none; background-color: #593107; padding: 10px;}
        .center {background-color:whitesmoke; float:none; padding-left: 35%; padding-top: 1%; padding-bottom: 1%;}
        </style>
    </head>

    <body>
        <div class = "border">
            <div class = "center">
                <h3>
                    Submit your addition to this story.
                </h3>

                <form action="/uploadUpdatedStory" method = 'POST'>
                    Content: <br>
                    <textarea id="content" name="content" rows="4" cols="50"></textarea>
                    <br>
                    <button type = "submit"> Submit </button>
                </form>
                <br>
                <h4> ON THE LAST EPISODE OF {{title}}... </h4>
                "{{content[0]}}"
                <br><br><br>
                <form action="/auth" method = 'POST'>
                    <button type = "submit" formaction="/"> Home </button>
                </form>
            </div>
        </div>
    </body>
</html>
