<!DOCTYPE html>

<!--
# ExtraTerrestrials (Edwin Zheng, Tina Nguyen)
# SoftDev
# K20 - Throw Some Forking STUYLE On It
# 2021-11-29
 -->


<html>
    <head>
        <title> Create New Story </title>
        <style>
        body {background: url("https://cdn.pixabay.com/photo/2017/09/30/19/29/coffee-beans-2803288_960_720.jpg") #402406}
        .border {float: none; background-color: #593107; padding: 10px;}
        .center {background-color:whitesmoke; float:none; padding-left: 35%; padding-top: 1%; padding-bottom: 1%;}
        </style>
    </head>
    <body>
        <div class = "border">
            <div class = "center">
                <h2>
                    {{status}}
                </h2>

                <h4>
                    Enter the new story's title and content.
                </h4>

                <form action="/auth" method = 'POST'>
                    Title: <input type="text" name="title">
                    <br>
                    Content: <br>
                    <textarea id="content" name="content" rows="4" cols="50">{{story}}</textarea>
                    <!--<input type="text" name="content" size="100"> -->
                    <br>
                    <button type = "submit" formaction="/uploadNewStory"> Add new story </button>
                    <br>
                    <button type = "submit" formaction="/"> Home </button>
                </form>
            </div>
        </div>
    </body>
</html>
