<!DOCTYPE html>

<!-- 
# ExtraTerrestrials (Edwin Zheng, Tina Nguyen)
# SoftDev
# K20 - Throw Some Forking STUYLE On It
# 2021-11-29
 -->

<html>

  <head>
    <title> Home Page </title>
      <style>
        body {background: url("https://cdn.pixabay.com/photo/2017/09/30/19/29/coffee-beans-2803288_960_720.jpg") #402406}
        .border {float: none; background-color: #593107; padding: 10px;}
        .center {background-color:whitesmoke; float:none; padding-left: 35%; padding-top: 1%; padding-bottom: 1%;}
      </style>
  </head>

  <body>
    <div class = "border">
      <div class = "center">
        <h1>
          {{status}}
        </h1>
          <h2>  Cafe of Stories </h2>
        Welcome {{ user }}! <!-- user input -->
        <br></br>
        <form action="/logout">
          <input type="submit" value="Logout" />
        </form>
        <br></br>
          <form action="/createstory">
            <input type="submit" value="Create New Story" />
          </form>
        <br></br>
        <form action="/addToStory">
          <input type="submit" value="Add to a story " />
        </form>
        <br> </br>
        <form action="/viewStory" method = 'POST'>
          Enter Story Title to View: <input type="text" name="title">
            <input type = "submit" value='View Story' />
        </form>

        <h3>My stories</h3>
        {% for value in user_stories %}
          {{value}}
          <br>
        {% endfor %}
      </div>
    </div>
  </body>

</html>
