body {background-color: #402406;}
.border {float: none; background-color: #593107; padding: 10px;}
.center {background-color:whitesmoke; float:none; padding-left: 35%; padding-top: 1%; padding-bottom: 1%;}